.content .btn {
  padding: 10px 20px;
  background-color: #22313F;
  color: #FFF;
  border-radius: 0;
  transition: .2s;
  margin-top: 10px;
  width: 250px;
  letter-spacing: 3px;
  border-style: thin;
}

/* On hover, the color of .btn will transition to white with black text */
.content .btn:hover, .btn:focus {
  border: 1px solid #22313F;
  background-color: #fff;
  color: #000;
}

.jumbotron {
  background-color: #22313F;
  color: #ffffff;
  padding: 100px 25px;
}
.bg-grey {
  background-color: #f6f6f6;
}

.container-fluid {
  padding: 40px 50px;
}

.content .btn {
  margin-top: 10px;
}

.logo {
  font-size: 200px;
}

@media screen and (max-width: 760px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.navbar {
  margin-bottom: 0;
  background-color: #22313F;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #22313F !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.error {
  padding: 5px 0 15px;
  color: red;
}

body {
  padding-top: 50px;
}

.control-label {
  padding-top: 7px;
  text-align: right;
}

input[type="checkbox"], input[type="radio"] {
  margin: 0;
}

/*login form styles*/
$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;
$serif-font-stack: Georgia, Times, 'Times New Roman', serif;

$brand-color: #6CC0E5;
$dark-brand-color: #41ADDD;
$error-color: #FB4F4F;

$background-color: #FAFAFA;
$very-light-grey: #EDEDED;
$light-grey: #CCC;
$mid-grey: #999;
$dark-grey: #666;
$very-dark-grey: #333;
$text-color: #222;

$max-width: 768px;
$nav-height: 3.5em;


.form__field-wrapper + .form__field-wrapper {
  border-top: none;
}

.form__field-input:focus ~ .form__field-label {
  color: #22313F;
  background-color: #EDEDED;
}

.form__field-input:focus {
  background-color: #EDEDED;
  color: #22313F;
}

.form__field-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
  font-size: .8em;
  color: #22313F;
  font-weight: 400;
  user-select: none;
  cursor: text;
}

.form__field-input {
  position: relative;
  padding: 1.625em 16px;
  width: 100%;
  color: #22313F;
  border: none;
  outline: 0;
  letter-spacing: 0.05em;
}

.form__submit-btn-wrapper {
  padding: 2em 1em;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: -10px; 
}

.form__submit-btn {
  border: none;
  background-color: #fff;
  border: 1px solid #22313F;
  padding: 0.5em 1em;
  border-radius: 1px;
  background-color: $brand-color;
  color: #22313F;
  display: block;
  margin: 0 auto;
  position: relative;
}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper {
  justify-content: center;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  margin-bottom: 1em;
}

.form__error {
  background-color: #FB4F4F;
  color: white;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;;
  user-select: none;
}

.js-form__err .form__error-wrapper {
  display: flex;
}

.js-form__err--user-doesnt-exist .form__error--username-not-registered,
.js-form__err--username-exists .form__error--username-taken,
.js-form__err--password-wrong .form__error--wrong-password,
.js-form__err--field-missing .form__error--field-missing {
  display: inline-block;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.form-page__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form-page__form-wrapper {
  max-width: 325px;
  width: 100%;
  border: 1px solid $very-light-grey;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form-page__form-heading {
  text-align: center;
  font-size: 1em;
  user-select: none;
  color: #22313F;
}

.form-page__form-header {
  padding: 1em;
}
.form__field-wrapper {
  width: 100%;
  position: relative;
  padding-top: 1.75em;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/*chart styles*/

svg {
  font: 10px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}